body {
    background-image: url('../img/theif.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.safety_status {
    margin-left: 100px;
    margin-top: 100px;
}

.box {
    display: flex;
}

.hide {
    background-color: white;
    color: #444;
    
    margin-top: 30px;
    margin-left: -30px;
    
    padding: 30px;
    padding-bottom: 18px;
    padding-left: 50px;

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    

    width: 25%;
    height: 50px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 30px;
}

.slidebtn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    transition: 0.5s;
}

.active, .slidebtn:hover {
    transform: scale(1.3);
}
